{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>About Our Website</h1>
    <p>Our website is designed to help people with disabilities find jobs and research opportunities. It provides a platform for employers to browse profiles of potential employees and for users to network by making posts, sending messages, and updating their profiles and documents.</p>
    <p>We are committed to making our website accessible to everyone and have implemented a range of accessibility features to ensure that all users can use our site with ease.</p>
    <h2>Our Team</h2>
    <ul>
      <li>Gaige Bigrigg - Test Coordinator</li>
      <li>Kennedy Boynton – Configuration Coordinator</li>
      <li>Nathan Reed – Development Coordinator</li>
      <li>Ky Vang – Requirements Coordinator</li>
    </ul>
  </div>
{% endblock content %}