{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center" style="height: 70vh;">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-3 fw-normal" style="font-weight: bold;">Find Where You Fit In</h1>
        <p class="fs-5 text-muted text-center">Accessible Opportunity connects disabled individuals to research teams in need of participants for projects dedicated towards designing a better future.</p>
        <div class="d-flex justify-content-center">
            <a class="me-3 btn btn-outline-primary text-center" href="{% url 'about' %}">Learn More</a>
        </div>
    </div>
</div>
<!--
<div class="container">
	<div class="d-flex flex-column"> 
		<h4>Registered users:</h4>
		{% for account in accounts %}
			<p>{{account}}</p>
		{% endfor %}
	</div>

</div>	
-->
{% endblock content %}

